@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

:root {
    --color-highlight: #f00;
    --color-white-key: #eee;
    --color-black-key: #222;
    --color-background: black;
    --color-key-light-border: #999;
    --color-key-dark-border: #444;
    --key-transition-duration: 0.05s;

    touch-action: none;

    &.mobile {
        u { text-decoration: none; }
    }
}

* {
    box-sizing: border-box;
    &[cursor-hidden] {
        cursor: none !important;
    }
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    background-color: var(--color-background);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title-text {
    color: var(--sl-color-neutral-600);
    opacity: 60%;
    font-family: "Orbitron", serif;
    font-size: 140%;
    font-weight: lighter;
    vertical-align: middle;
    margin-right: 10px;
}

div.menu-msg {
    margin: 8px 28px 16px;
    color: var(--sl-color-neutral-700);
    line-height: 1.2lh;
}

#top-toolbar {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to top, #333, #222);
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    & :not(:defined) { visibility: hidden; }

    &[hidden] { display: none; }

    #toolbar-title { cursor: pointer; }

    .strong-menu-label::part(base) {
        color: var(--sl-color-neutral-700);
    }

    ::part(input) { 
        text-align: center;
        cursor: default;
    }

    .custom-dropdown-panel {
        background: var(--sl-panel-background-color);
        border: solid var(--sl-panel-border-width) var(--sl-panel-border-color);
        border-radius: var(--sl-border-radius-medium);
        padding: var(--sl-spacing-x-small) 0;
        overscroll-behavior: none;
        overflow: hidden auto;
        max-height: var(--auto-size-available-height);
    }

    div.custom-menu-item {
        margin: 6px 24px 14px 24px;
        > div {
            text-align: center;
            &:first-child { margin-right: 10px; }
        }
        span.custom-menu-item-label {
            color: var(--sl-color-neutral-700);
            margin-bottom: 6px;
            display: inline-block;
        }
    }

    sl-radio-group

    #menu-group-number-of-keys {
        .btn-number-of-keys {
            width: 6ch;
        }
    }

    #dropdown-labels>sl-menu {
        min-width: 23ch;
    }

    #transpose-controls {
        display: flex;
        align-items: center;
        height: auto;
        margin-left: 12px;
        margin-right: 12px; 
    }

    #dropdown-size { margin-left: 12px; }

    sl-color-picker {
        margin: 20px 30px;
        &::part(input),
        &::part(eye-dropper-button),
        &::part(format-button) {
            display: none;
        }
        &::part(preview) {
            margin-top: -3px;
            margin-bottom: -12px;
        }
        &::part(slider) {
            margin-top: 10px;
            margin-left: 6px;
        }
        &::part(grid) {
            height: 130px;
        }
    }

    #dropdown-pedals[hidden] { display: none; }

    .pedal-indicator {
        margin-bottom: -2px;
    }

    #pedl {
        margin-right: -5px;
    }

    #pedr {
        margin-left: -5px;
        margin-right: -2px;
    }

    .led-strong, .led-weak {
        &:not(.active) {
            color: var(--sl-color-neutral-400);
            transition-property: color, filter;
            transition-duration: 0.05s;
            transition-timing-function: ease-out;
        }
        &.active {
            &.led-strong {
                filter: drop-shadow(0px 0px 1px) drop-shadow(0px 0px 3px);
            }
            &.led-weak {
                filter: drop-shadow(0px 0px 2px);
            }
            &#pedl { color: color-mix(in srgb, #4bf var(--led-intensity, 100%), var(--sl-color-neutral-400)); }
            &#pedm { color: color-mix(in srgb, #7d4 var(--led-intensity, 100%), var(--sl-color-neutral-400)); }
            &#pedr { color: color-mix(in srgb, #fa4 var(--led-intensity, 100%), var(--sl-color-neutral-400)); }
            &#connection-power-icon { color: #4f4; }
            &#sound-power-icon { color: #4af; }
            &#transpose-power-icon { color: #ff0; }
        }
    }

    @media (max-width: 1167px) {
        #toolbar-title { display: none; }
    }

    @media (max-width: 963px) {
        #btn-sound::part(label) {
            content-visibility: hidden;
            padding: 0px 5px;
        }
    }

    @media (max-width: 909px) {
        #btn-connect::part(label) {
            content-visibility: hidden;
            padding: 0px 5px;
        }
    }

    @media (max-width: 850px) {
        #btn-pedals::part(label) {
            content-visibility: hidden;
            padding: 0px 5px;
        }
    }

    @media (max-width: 798px) {
        #btn-transpose::part(label) {
            content-visibility: hidden;
            padding: 0px 5px;
        }
    }

    @media (max-width: 721px) {
        #dropdown-colors { display: none; }
    }

    @media (max-width: 625px) {
        #dropdown-size { display: none; }
    }

    @media (max-width: 525px) {
        #dropdown-sound { display: none; }
    }

    @media (max-width: 458px) {
        #dropdown-labels { display: none; }
    }

    @media (max-width: 360px) {
        #dropdown-pedals { display: none; }
    }

    @media (max-width: 265px) {
        #btn-panic { display: none; }
    }
    
}

@media (max-width: 210px) {
    #top-toolbar { display: none; }
}

#outer-main-area {
    width: 100%;
    flex-grow: 1;
    padding: 3px 2px 4px;
    overflow: hidden;
}

#main-area {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    &:not(:hover) #btn-show-toolbar {
        &:not(.mobile) { opacity: 0%; }
    }
}

#btn-show-toolbar {
    position: fixed;
    right: 12px;
    top: 6px;
    filter: drop-shadow(1px 1px 4px black);
    &:hover {
        opacity: 100%;
    }
    &[hidden] {
        display: none;
    }
    &[visible]:not(:hover) {
        opacity: 80%;
        transition: opacity 0.5s;
    }
    &:not([visible]):not(:hover):not(.mobile) {
        opacity: 0%;
        transition: opacity 1s;
    }
}

#kbd {
    min-width: 100%;
    max-height: 100%;
    position: absolute;
    cursor: grab;
    transform-origin: top left;
    image-rendering: optimizeSpeed;
    * { image-rendering: optimizeSpeed; }

    #top-felt {
        fill: url("#top-felt-gradient");
    }

    &[grabbing] {
        cursor: grabbing !important;
    }

    .key {
        transform-origin: center top 0px;

        .key-fill {
            pointer-events: fill;
        }

        .key-light-border, .key-dark-border {
            pointer-events: stroke;
            fill: none;
            stroke-width: 1.5px;
            stroke-linecap: square;
        }

        .key-highlight {
            pointer-events: none;
            will-change: opacity;
        }

        &:not(.active) {
            .key-highlight {
                opacity: 0%;
                transition-property: opacity;
                transition-duration: var(--key-transition-duration);
                transition-timing-function: ease-out;
            }
            .key-label.fixed-visibility.visible {
                transition-property: fill;
                transition-timing-function: ease-out;
                transition-duration: var(--key-transition-duration);
            }
        }

        &.active {
            .key-highlight {
                opacity: 100%;
            }
            &.dim .key-highlight {
                opacity: 70%;
                transition-property: opacity;
                transition-duration: var(--key-transition-duration);
                transition-timing-function: ease-out;
            }
            .key-label {
                fill: lch(from var(--color-highlight) clamp(0, calc(calc(55 - l) * 10000), 100) 0 h / 90%);
            }
        }
    }

    .key-label {
        font-family: "PT Sans Narrow", "Arial Narrow", var(--sl-font-sans), sans-serif;
        font-weight: 100;
        text-anchor: middle;
        text-rendering: optimizeSpeed;
        white-space: wrap;
        opacity: 0%;
        pointer-events: none;

        &.rotated {
            text-anchor: start;
            transform-box: content-box;
            &.white-key-label {
                transform-origin: left center;
                transform: rotate(-90deg) translateX(-30px) scale(90%);
            }
            &.black-key-label {
                transform-origin: center center;
                transform: rotate(-90deg) translateX(10px);
            }
        }
        &.hidden.fixed-visibility { 
            display: none;
        }
        &.visible { 
            opacity: 100%;
            &.fixed-visibility {
                will-change: fill;
            }
        }
        &.may-change-visibility {
            will-change: opacity;
            &.hidden {
                fill: lch(from var(--color-highlight) clamp(0, calc(calc(55 - l) * 10000), 100) 0 h / 90%);
                opacity: 0%;
                transition-property: opacity;
                transition-timing-function: ease-out;
                transition-duration: var(--key-transition-duration);
            }
        }
        &.white-key-label {
            font-size: 36px;
            fill: lch(from var(--color-white-key) clamp(0, calc(calc(55 - l) * 10000), 100) 0 h / 80%);
        }
        &.black-key-label {
            font-size: 26px;
            fill: lch(from var(--color-black-key) clamp(0, calc(calc(55 - l) * 10000), 100) 0 h / 80%);
            tspan { text-anchor: middle; }
        }
    }

}

.white-key {
    .key-light-border {
        stroke: color-mix(in srgb, var(--color-key-light-border) 70%, var(--color-white-key));
    }        
    .key-dark-border {
        stroke: color-mix(in srgb, var(--color-key-dark-border) 70%, var(--color-white-key));
    }
}

.black-key {
    .key-light-border {
        stroke: color-mix(in srgb, var(--color-key-light-border) 70%, var(--color-black-key));
    }        
    .key-dark-border {
        stroke: color-mix(in srgb, var(--color-key-dark-border) 70%, var(--color-black-key));
    }
}

sl-dialog {
    font-family: var(--sl-font-sans);
    color: var(--sl-color-neutral-700);
    --width: 45ch;
    &::part(panel) {
        box-shadow: var(--sl-shadow-large);
    }
    .title-text {
        text-wrap: nowrap;
        sl-icon {
            height: 55%;
            vertical-align: -2%;
            padding-right: 2px;
        }
    } 
}

sl-dropdown {
    &::part(panel) {
        box-shadow: 3px 3px 4px #0008;
    }
}

sl-menu {
    &> sl-divider {
        margin-top: 2px;
        margin-bottom: 2px;
    }
    *[hidden] { 
        display: none; 
    }
}
