@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #f9f9f9;
    background: #333;
    line-height: 1.6;
}

header {
    background: #222;
    color: white;
    padding: 1rem 1rem;
    text-align: center;
}

.app-name {
    font-family: "Orbitron", serif;
    font-weight: lighter;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 1rem 1rem;
}

.screenshot {
    width: 100%;
    border-radius: 5px;
    margin: 1.5rem 0;
    border: #222 4px solid;
}

.button {
    display: inline-block;
    background: #0078ff;
    color: white;
    padding: 0.75rem 1.25rem;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1.15rem;
    margin: 1rem 0;
}

.button:hover {
    background: #005fcc;
}

footer {
    text-align: center;
    margin-top: 3rem;
    padding: 1.5rem;
    opacity: 50%;
}
