@font-face {
    font-family: 'Orbitron';
    src: url('pwa/assets/font/orbitron.woff2');
    font-weight: normal;
    font-style: normal;
}

.app-name {
    font-family: "Orbitron", serif;
    font-weight: lighter;
}

header .app-name {
    user-select: none;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #f9f9f9;
    background: #333;
    line-height: 1.6;
}

header {
    background: #222;
    color: white;
    padding: 1rem 1rem;
    text-align: center;
}
main {
    max-width: 800px;
    margin: auto;
    padding: 1rem 1rem;
}

footer {
    background-color: #222;
    text-align: center;
    margin-top: 1rem;
    padding: 1.5rem;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

h2 {
    margin: 2rem 0 1rem;
}

code {
    font-size: 120%;
    color: #ffa;
    margin: 0 2px;
}

a:has(code) {
    text-decoration: none;
}

.screenshot {
    width: 100%;
    border-radius: 5px;
    margin: 1rem 0;
    border: #171717 4px solid;
}

.button {
    display: block;
    background: #136fa9;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1.15rem;
    width: fit-content;
    margin: 1rem auto;
    user-select: none;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    &:hover { 
        &:not(:active) {
            background: #0f84cd;
            box-shadow: 2px 4px 5px #0006;
            transform: translateY(-2px);
        }
        background: #117bbd; 
        transition-duration: 0.05s;
    }
}

.lang-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.lang-switcher a {
    color: #fff;
    text-decoration: underline;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    opacity: 0.7;
}

.lang-switcher a:hover {
    opacity: 1;
}

.lang-switcher a.active {
    opacity: 1;
    text-decoration: none;
    font-weight: bold;
}

.copyright {
    margin-top: 1.5rem;
    opacity: 50%;
}
